@model WebProjectMVC.ViewModels.PhotoViewModel
@using Microsoft.AspNetCore.Identity;
@using WebProjectMVC.Data;
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Edit Photo Collection Details";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

    var photo = Model.Photo;
    var reactionRef = Model.ReactionRef;
}

@if (SignInManager.IsSignedIn(User))
{

    <div class="sticky-top bg-white">
        <h1>
            <a asp-action="Index" class="fa-solid fa-circle-left nav-link text-dark m-0 p-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Back to your Gallery"></a>
        </h1>
        <h4>@Html.DisplayFor(model => model.Photo.Title)</h4>
        <h6>Collection Owner: @Model.Photo.User.FirstName, @Model.Photo.User.LastName</h6>
        <small class="text-black">@Html.DisplayFor(model => model.Photo.Description)</small>
    </div>

    <div class="card">
        <div class="card-body">

            <form asp-action="Edit">

                <button type="submit" style="border:none;outline:none;background-color:transparent !important;" class="button-solid fa-solid fa-floppy-disk fa-2x text-warning text- m-0 p-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Save Collection Details"></button>
                <a asp-action="Details" asp-route-id="@Model.Photo.Id" style="border:none;outline:none;background-color:transparent !important;text-decoration:none;" class="button-solid fa-solid fa-folder-open text-success fa-2x m-0 p-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Open Collection"></a>
                <a asp-action="Delete" asp-route-id="@Model.Photo.Id" class="fa-solid fa-trash fa-2x nav-link text-danger m-0 p-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Delete this Collection"></a>
                <button type="reset" style="border:none;outline:none;background-color:transparent !important;" class="button-solid fa-solid fa-eraser fa-2x text-info text- m-0 p-2" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Reset Collection Details"></button>

                <hr />
                <h3 class="mt-3">@ViewData["Title"]</h3>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.Photo.Id" />

                <div class="row mt-2">
                    <div class="form-group col">
                        <label asp-for="@Model.Photo.Title" class="form-label"></label>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-align-left"></i></span>
                            <input asp-for="@Model.Photo.Title" class="form-control" aria-required="true" />
                        </div>
                        <span asp-validation-for="@Model.Photo.Title" class="text-danger small"></span>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="form-group col">
                        <label asp-for="@Model.Photo.Description" class="form-label"></label>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-align-justify"></i></span>
                            <input asp-for="@Model.Photo.Description" class="form-control" aria-required="true" />
                        </div>
                        <span asp-validation-for="@Model.Photo.Description" class="text-danger small"></span>
                    </div>
                </div>

                <div class="row mt-1">
                    <div class="form-group col">
                        <label class="form-label">Owner</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
                            <span class="form-control bg-light">@Model.Photo.User.FirstName</span>
                        </div>
                    </div>
                </div>

            </form>


        </div>
    </div>

    <div class="card mt-2">
        <div class="card-body">
            <div class="card-group">

                @{
                    var cnt = 0;
                    @foreach (var item in Model.Photo.PhotoDetails)
                    {
                        cnt = cnt + 1;
                        <div class="card">
                            <div class="card-body card-img" style="background-size: cover; background-repeat: no-repeat; background-position: center; background-image:url('data:image/jpeg;base64,@Convert.ToBase64String(item.Bytes)')">
                                <br><br><br><br><br>
                            </div>
                            <div class="card-img-overlay opacity-75">
                                <div class="card-text bg-light text-info">
                                    @item.Description
                                </div>
                            </div>
                        </div>

                        if (cnt == 3)
                        {
                            break;
                        }
                    }
                }

                @if (Model.Photo.PhotoDetails.Count() > 3)
                {
                    <div class="card">

                        <a asp-action="Details" asp-route-id="@Model.Photo.Id">
                            <div class="card-body card-img text-center" style="background-repeat: no-repeat; background-position: center; background-image:url('/img/view-more.png')">
                                <br><br><br><br><br><br><br><br><br><br><br>
                            </div>

                            <div class="card-img-overlay opacity-75">
                                <div class="card-text bg-light text-info">
                                    More...(@Html.Label("photoCount",(Model.Photo.PhotoDetails.Count()-3).ToString()))
                                </div>
                            </div>
                        </a>
                    </div>
                }

            </div>
        </div>
    </div>
}
else
{
    @Html.Partial("_UnauthorizedPartial")
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
